Repository trilom/file-changes-action: changes, and which Codecov flags are due for each by the changed paths.
All: src, test

ongoing issue with releaserc notes
  .releaserc.yml
Due: none

Updating AUTHORS 📓
  AUTHORS
Due: none

LFW
  README.md
Due: none

Delete package.json
  package.json
Due: none

Update README.md
  README.md
Due: none

Fixes crash on `renamed` file change status
  src/FilesHelper.ts
Due: src

Fixes crash on `renamed` file change status
  package.json
  src/FilesHelper.ts
Due: src

Adds renamed field into GitHubFile typing
  src/typings/GitHubFile/index.d.ts
Due: src

Tries to fix tests and format
  package-lock.json
  src/tests/FilesHelper.test.ts
  src/tests/mocks/env/index.ts
  src/tests/mocks/octokit/paginate.ts
  src/typings/FsMock/index.d.ts
Due: src, test

Adding format changes 🤖
  src/FilesHelper.ts
  src/tests/FilesHelper.test.ts
  src/typings/FsMock/index.d.ts
Due: src, test

Adding release changes ⚙️
  dist/index.js
Due: none

label sync needs a token
  .eslintrc.yml
  .github/workflows/labels.yml
Due: none

fix(change in api): github api had a change, this should trigger release 1.2.4. this change here quiets a quacker during the intergration test
  .github/workflows/integration.yml
Due: none

chore(release): 🎉🦍🎉 Release 1.2.4 - May 21, 2020, 2:52 PM [skip ci] `- name: File Changes Action uses: trilom/file-changes-action@v1.2.4`
  CHANGELOG.md
  package.json
Due: none

Fix typo in README.md
  README.md
Due: none

Fix package.json main to use dist/index.js instead of lib/main.js
  package.json
Due: none

Refactor for Windows compatability
  package-lock.json
  src/FilesHelper.ts
Due: src

Create SECURITY.md
  SECURITY.md
Due: none

Create deno.yml
  .github/workflows/deno.yml
Due: none

Create grunt.yml
  .github/workflows/grunt.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Create checkmarx-analysis.yml
  .github/workflows/checkmarx-analysis.yml
Due: none

Delete SECURITY.md
  SECURITY.md
Due: none

add files_renamed documentation
  README.md
Due: none

update node version to 14
  action.yml
Due: none

update node version to 16
  action.yml
Due: none

updated node js version to node16
  action.yml
Due: none

try commenting
  src/tests/integration.test.ts
Due: test

comment from workflow
  .github/workflows/automerge.yml
Due: none

compiled
  dist/index.js
Due: none

update @actions/core
  dist/index.js
  package.json
  yarn.lock
Due: none

cleanup
  .github/workflows/automerge.yml
  src/tests/integration.test.ts
Due: test

Path conditions:
  src: any of: src, but not: src/tests/
  test: any of: src/tests/
