Repository trilom/file-changes-action: changes, and which Codecov flags are due for each by the changed paths.
All: src, test

fix some issues, try use './test.sh' instead of bash
  .github/workflows/integration.yml
Due: none

pushin it
  .github/workflows/integration.yml
Due: none

#81: Allow single spaces in format
  README.md
  src/FilesHelper.ts
  src/tests/FilesHelper.test.ts
Due: src, test

Fix failing checks
  src/FilesHelper.ts
Due: src

fix(naming): renamed "deleted" to "removed". sorry if this is breaking for you.
  .github/actions/integration/files_removed.csv
  .github/actions/integration/files_removed.json
  .github/actions/integration/files_removed.txt
  .github/actions/integration/test.sh
  .github/workflows/integration.yml
  README.md
  action.yml
  package.json
  src/FilesHelper.ts
  src/tests/mocks/octokit/payloads.ts
Due: src, test

fix(pull_request_synchronize events): issue with PR Synchronize events, it would return commit files instead of PR files, this is adjusted to return ALL PR files with PR synchronize event
  src/InputHelper.ts
  src/tests/payloads.ts
Due: src, test

fix(issue_comment): this needs to return PR info not commit info if before and after explicitly set, else PR
  src/InputHelper.ts
  src/tests/payloads.ts
Due: src, test

test(unit): use specific pr and push events, rework main.ts test to focus on mock only
  src/tests/main.test.ts
  src/tests/payloads.ts
Due: test

testing(integration): add jest integration tests, we'll see how this works too
  jest.config.integration.js
  jest.config.js
  package.json
  src/InputHelper.ts
  src/main.ts
  src/tests/integration.test.ts
  src/tests/mocks/env/index.test.ts
  src/tests/mocks/env/index.ts
Due: src, test

Revert "Merge branch 'fix-payloads' of github.com:trilom/file-changes-action into fix-payloads"
  README.md
  src/FilesHelper.ts
  src/tests/FilesHelper.test.ts
Due: src, test

Adding format changes 🤖
  src/InputHelper.ts
  src/main.ts
  src/tests/InputHelper.test.ts
  src/tests/integration.test.ts
  src/tests/main.test.ts
  src/tests/mocks/env/index.ts
  src/tests/payloads.ts
Due: src, test

add tested-integration and tested-unit labels
  .github/labels.yml
Due: none

workflow(add integration tests): add integration tests to workflow
  .github/workflows/automerge.yml
  .github/workflows/pr.yml
  .github/workflows/push.yml
Due: none

use master
  .github/workflows/push.yml
Due: none

add github_token
  .github/workflows/pr.yml
  .github/workflows/push.yml
Due: none

tests(integration): rework integration tests a little bit focusing on speed now. vscode config also
  .vscode/launch.json
  .vscode/tasks.json
  src/tests/InputHelper.test.ts
  src/tests/integration.test.ts
  src/tests/main.test.ts
  src/tests/mocks/env/index.test.ts
  src/tests/mocks/env/index.ts
  tsconfig.json
Due: test

Adding format changes 🤖
  src/tests/InputHelper.test.ts
  src/tests/integration.test.ts
  src/tests/main.test.ts
  src/tests/mocks/env/index.test.ts
Due: test

test(integration): fix issues with tests needs
  .github/workflows/push.yml
  .github/workflows/readme.md
  .gitignore
  package.json
Due: none

add dist so that we can releask
  .vscode/launch.json
  dist/index.js
Due: none

remove console log
  src/tests/integration.test.ts
Due: test

make this safer
  .github/workflows/push.yml
Due: none

Adding format changes 🤖
  src/tests/integration.test.ts
Due: test

Updating AUTHORS 📓
  AUTHORS
Due: none

change integration test strings
  .github/actions/integration/test.sh
  .github/workflows/integration.yml
Due: none

mayb
  .github/workflows/integration.yml
Due: none

try to remove the 'from json'
  .github/workflows/integration.yml
Due: none

debug
  .github/actions/integration/test.sh
Due: none

readd json
  .github/workflows/integration.yml
Due: none

remove tojson, don't need it escapeda
  .github/workflows/integration.yml
Due: none

try explicit quotes
  .github/workflows/integration.yml
Due: none

test(integrationGH): move events to their own folder for dev, fix some problems reading inputs and where files should be
  .github/actions/integration/events/files.csv
  .github/actions/integration/events/files.json
  .github/actions/integration/events/files.txt
  .github/actions/integration/events/files_added.csv
  .github/actions/integration/events/files_added.json
  .github/actions/integration/events/files_added.txt
  .github/actions/integration/events/files_modified.csv
  .github/actions/integration/events/files_modified.json
  .github/actions/integration/events/files_modified.txt
  .github/actions/integration/events/files_removed.csv
  .github/actions/integration/events/files_removed.json
  .github/actions/integration/events/files_removed.txt
  .github/actions/integration/test.sh
Due: none

test(integrationGH): first move all changed files to current dir then run test
  .github/workflows/integration.yml
Due: none

test(integration): set files var to name of filesvar for nondev nonsimple
  .github/actions/integration/test.sh
Due: none

test(integration): just handle removing test files after test.
  package.json
  src/tests/integration.test.ts
Due: test

chore(release): 🎉🦍🎉 Release 1.2.2 - Mar 25, 2020, 9:48 PM [skip ci] `- name: File Changes Action uses: trilom/file-changes-action@v1.2.2`
  CHANGELOG.md
  package.json
Due: none

fix release/1.2.2 hopefully
  .releaserc.yml
Due: none

fix(test release): testing a release
  .github/workflows/push.yml
  README.md
Due: none

chore(release): 🎉🦍🎉 Release 1.2.3 - Mar 25, 2020, 10:36 PM [skip ci] `- name: File Changes Action uses: trilom/file-changes-action@v1.2.3`
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  src: any of: src, but not: src/tests/
  test: any of: src/tests/
